<!-- <div style="display: block; width: 60%; margin-left: auto; margin-right: auto;">
  <canvas baseChart id="testCanvas"></canvas>
</div> -->
<mat-tab-group dynamicHeight>
  <mat-tab label="ДОСЛІДЖЕННЯ ПОШИРЕННЯ РАДІОХВИЛЬ
  У ВІЛЬНОМУ ПРОСТОРІ">
    <firstlab-app></firstlab-app>
  </mat-tab>
  <mat-tab label="ДОСЛІДЖЕННЯ ОБЛАСТІ ПРОСТОРУ, ЯКА Є
  ІСТОТНОЮ ПРИ ПОШИРЕННІ РАДІОХВИЛЬ.
  ЗОНИ ФРЕНЕЛЯ
  ">2</mat-tab>
  <mat-tab label="ДОСЛІДЖЕННЯ ПОШИРЕННЯ РАДІОХВИЛЬ
  ПОБЛИЗУ ПОВЕРХНІ ЗЕМЛІ
  ">3</mat-tab>
  <mat-tab label="ДОСЛІДЖЕННЯ ПОШИРЕННЯ РАДІОХВИЛЬ
  У ТРОПОСФЕРІ  
  ">2</mat-tab>
  <mat-tab label="ДОСЛІДЖЕННЯ ПОШИРЕННЯ РАДІОХВИЛЬ
  В ІОНОСФЕРІ  
  ">3</mat-tab>
</mat-tab-group>